.DS_Store
MyWidgets/.DS_Store
MyWidgets/script/.DS_Store
MyWidgets/script/general.json
MyWidgets/script/settings.json
MyWidgets/script/updateSong.scpt
MyWidgets/script/weather.json
Playbox.widget/.DS_Store
Playbox.widget/lib/.DS_Store
